@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    src: url(../fonts/Montserrat/Montserrat.ttf);
}
@font-face {
    font-family: "Montserrat_bold";
    font-weight: 500;
    src: url(../fonts/Montserrat/Montserrat.ttf);
}
@font-face {
    font-family: "ReenieBeanie";
    font-weight: 500;
    src: url(../fonts/Reenie_Beanie/ReenieBeanie-Regular.ttf);
}

.home {
    font-family: "Montserrat";
    background-color: black;
    color: white;
}
.home .main_title {
    font-family: "Montserrat_bold";
    animation: fading 10s infinite; 
}

/* For images */
img {
  image-rendering: pixelated;
}

/* For scaled elements */
.element {
  image-rendering: crisp-edges;
}

@keyframes fading {
    0% {
        filter: opacity(1);
        transform: translateY(0em) scale(1);
    }
    50% {
        filter: opacity(0.4);
        transform: rotate(2deg) translateY(0.4em) scale(0.8);
    }

    100% {
        filter: opacity(1);
        transform: translateY(0em) scale(1);
    }
}

.centering_wrapper {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

}

.living_room.image_wrapper {
    width: 50vw;

}
.living_room.image_wrapper > img {
    width: 100%
}

.living_room.button {
    font-family: "Montserrat_bold";
    
    font-size: 24px;
    border-radius: 5px;
    padding: 0.25em;
    margin: 0.25em;
    color: white;
    text-shadow: 0 0 5px rgb(65, 5, 75);
    background-color: rgb(110, 5, 128);
    border: none;
    outline: white solid 2px;
}
.living_room.button:hover {
    transform: scale(1.1) translateY(2px);
    
    box-shadow: 0 0 20px white;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



.fact_popup {
    z-index: 3;
    display: block;
    position: fixed;
    width: clamp(300px, 30vw, 600px);
    color: black;
    text-shadow: #777777 0px 0px 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em; 
    display: inline-grid;
}

.fact_popup > img {
    grid-row: 1; grid-column: 1;
    width: 100%;
}

.fact_popup > .content {
    grid-row: 1; grid-column: 1;
    padding: 1em;
    width: auto;
}

.fact_popup > .content > p {
    padding: 1em 1em;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 10px;
    outline: black dashed 2px;
    border-radius: 5px;

}

.close_fact_popup {
    font-family: inherit;
    width: 3em;
    height: 3em;
    text-align: center center;
    float: right;
    position: relative;
    transform: translateX(5em) translateY(-5em) ;
    background-color: rgb(169, 14, 1);
    border: none;
    border-radius: 50%;
    padding: 0.5em;
}
.close_fact_popup:hover {
    box-shadow: 0 0 20px black;
    background-color: rgb(232, 73, 73);

}



.popup_wrapper {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
}
.popup_bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.393);
}

.popup_image_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup_image_wrapper > img {
    width: 50%;
}

.handwritten {
    font-family: 'ReenieBeanie';
    font-size: 150%;
}

#p5Canvas {
    width: 400px;
    height: 400px;
}